body {
    font-family: 'Nunito', sans-serif;
}

#drum-machine {
    width: 500px;
    background-color: whitesmoke;
    padding: 1rem;
    justify-content: space-around;
    margin: auto;
    display: flex;
}

.drumpads {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#display {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drum-pad {
    box-shadow: 2px 3px 5px;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background-color: #ccc;
    margin: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}